@model TSC_WEB.Models.Entidades.Corte.ReportePivot

@{
    
    ViewBag.Title = "Buscar Liquidación de Tela";
    ViewBag.Modulo = "Corte";
    Layout = "~/Views/Plantillas/_Layout.cshtml";
    

}
    @*var ListFichas = (from obj in Model.ObjFichas
                      orderby obj.FICHA ascending
                      select new
                      {
                          obj.FICHA
                      }
        ).Distinct().ToList();
    }*@


    <div class="row">
        <!-- FILTROS - APERTURA -->
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-4 col-12">
            <div class="card card-outline card-primary" style="height:250px !important; max-height:250px !important">

                <div class="card-header">
                    <h3 class="card-title">Buscar Liquidación</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <form class="row" id="frmbusqueda">

                        <div class="col-xl-9  col-lg-8 col-md-10 col-sm-10 form-group">
                            <h6>Ficha:</h6>
                            <input type="tel" class="form-control form-control-sm numeros" id="txtpartida"  required/>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-2 col-sm-2 form-group">
                            <h6>&nbsp;</h6>
                            <button class="btn btn-primary btn-sm btn-block" type="submit" ><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!--VERSIONES-->
        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-8 col-12">
            <div class="card card-outline card-primary" style="height:250px !important; max-height:250px !important">
                <div class="card-header">
                    <h3 class="card-title">Versiones</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body overflow-auto">

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm nowrap" style="width:100%;" id="tablaver">
                            <thead class="thead-light">
                                <tr>
                                    <th>Ver</th>
                                    <th>Combo</th>
                                    <th>Versión</th>
                                    <th>Registro</th>
                                    <th>Usuario</th>
                                    <th>Tipo Tela</th>
                                </tr>
                            </thead>
                            <tbody id="tablaversiones"></tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>

        <!-- ESTILOS -->
        <div class="col-xl-5">
            <div class="card card-outline card-primary" style="height:250px !important; max-height:250px !important">
                <div class="card-header">
                    <h3 class="card-title">Estilos</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body overflow-auto">
                    <div class="table-responsive">
                        <table class="table table-bordered dt-responsive nowrap" style="width:100%;text-align:center" id="tablacons">
                            <thead id="tablacabececons" class="thead-light">
                            </thead>
                            <tbody id="tablaCuerpocons"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- COLLARETAS Y TAPETES -->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12" >

            <div class="card card-outline card-primary" style="height:250px !important; max-height:250px !important">
                <div class="card-header">
                    <h3 class="card-title">Collaretas y Tapetes</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaColla">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Consumo Mts.</td>
                                <td id="num6"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Consumo Kgs.</td>
                                <td id="num7"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Utilidad</td>
                                <td id="num8"></td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>

        <!-- ENVIAR TELA COMPLEMENTO -->
        <div class="col-xl-4">

            <div class="card card-outline card-primary" style="height:250px !important; max-height:250px !important">
                <div class="card-header">
                    <h3 class="card-title">Enviar Tela Complemento</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaTela">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Metros</td>
                                <td id="num9"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Kilos</td>
                                <td id="num10"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>

    </div>



<div class="row">
    <!-- DATOS CABECERA -->
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">

        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Información Adicional</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaCabecera">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">Tipo de Tela</td>
                            <td id="tipotelax"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Partida</td>
                            <td id="partida"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Cliente</td>
                            <td id="idcliente"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Programa</td>
                            <td id="idprograma"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Pedidos</td>
                            <td id="idpedidos"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Estilos</td>
                            <td id="idestilos"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Color</td>
                            <td id="tdcolor"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Cod. Tela</td>
                            <td id="tdcodtela"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!--Mermas Tendido-->
    <div class="col-xl-4">

        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Consumo</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dt-responsive nowrap" style="width:100%;text-align:center" id="tablaGrabar">
                        <thead class="thead-light">
                            <tr>
                                <th nowrap>Datos Tela</th>
                                <th nowrap>Ancho de Tela</th>
                                <th nowrap>Densidad Tela g/m<sup>2</sup> </th>
                            </tr>
                        </thead>
                        <tbody id="tablaCuerpoGrabar"></tbody>
                    </table>
                </div>
                
            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaTela">
                    <tbody>
                        <tr>
                            <td>Descripcion de Tela:</td>
                            <td id="TxtDescripcionTela" class="text-center"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    
    <!--Kilos Asignados-->
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">

        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Kilos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaCabecera">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">Kilos Asignados</td>
                            <td id="num1" nowrap class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Kilos Segun Tizados</td>
                            <td id="num2" nowrap class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" id="num5">Sobrante</td>
                            <td id="num3" nowrap class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Kilos despachados</td>
                            <td id="lblkilosdespachados" class="text-right" nowrap></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Kilos despachados Servicio</td>
                            <td id="lblkilosdespachados_ser" class="text-right" nowrap></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Variacion de Consumo</td>
                            <td id="num4" class="text-right" nowrap></td>
                        </tr>
                    </tbody>

                </table>

                <hr />
                <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaTelaxxx">
                    <tbody>
                        <tr>
                            <td style="background-color:#25495c;color:white">Cantidad Prendas:</td>
                            <td style="background-color:#25495c;color:white" class="text-right" id="cantPrendas"></td>
                        </tr>
                        <tr>
                            <td style="background-color:#25495c;color:white">Total Paños:</td>
                            <td style="background-color:#25495c;color:white" class="text-right" id="TotalPanos"></td>
                        </tr>
                    </tbody>

                </table>

            </div>
   
           
        </div>
    </div>
    

</div>

<div class="row">
   
    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
        <!-- TABLA FICHAS Y CANTIDADES -->
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Proporción de prendas por talla y estilo</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dt-responsive nowrap" style="width:100%;" id="tablafxc ">
                        <thead id="tablacabecerafxc" class="thead-light">
                        </thead>
                        <tbody id="tablaCuerpofxc"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12">
        <!-- TABLA PIVOT -->
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Proporciones</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaProporciones">
                        <thead id="tablaCabeceraProporciones" class="thead-light">
                            
                        </thead>
                        <tbody id="tablaCuerpoProporciones"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Total-->
    <div class="col-xl-4">
        <div class="card card-outline card-primary" >
            <div class="card-header">
                <h3 class="card-title">Cálculos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
 
                <div class="table-responsive">
 
                    <table class="table table-bordered dt-responsive nowrap" style="width:100%;text-align:center" id="tablaTotal">
                        <thead class="thead-light">
                            <tr style="height:172px">
                                <th style="vertical-align:middle;">Tallas y Q.Prendas</th>
                                <th style="vertical-align:middle;">Largo de Tizado</th>
                                <th style="vertical-align:middle;">Consumo x Prenda</th>
                                <th style="vertical-align:middle;">Peso de Paño</th>
                                <th style="vertical-align:middle;">Eficiencia de Tizado</th>
                            </tr>
                        </thead>
                        <tbody id="tablaCuerpoTotal"></tbody>
                    </table>
                </div>
            </div>
       </div>
      
       <!-- COMENTARIO -->
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Comentario</h3>
            </div>
            <div class="card-body text-justify">
                <p class="font-weight-bold" id="txtComentario">

                </p>
            </div>
        </div>


    </div>

    <div class="col-12 p-3">
        <button class="btn btn-sm btn-success float-right d-none" id="btnRedireccionar">Registro de tendido</button>  
    </div>

</div>


    @section scripts{
        <script>
            var FICHAMAESTRA;
            var CONTADORCALCULOS = 0;
            let frmbusqueda = document.getElementById("frmbusqueda");

            //REDIRECCIONAMOS
            $("#btnRedireccionar").click(function () {
                var ruta = "/Corte/LiquidacionCorte/?ficha=" + FICHAMAESTRA;
                window.open(ruta, '_blank');
            });

            // BUSQUEDA
            frmbusqueda.addEventListener('submit', (e) => {
                e.preventDefault();
                Buscar();
            });

            // FUNCION BUSCAR
            function Buscar() {
                // MOSTRAMOS CARGA
                MostrarCarga("Buscando...");

                // RESETEAMOS ANTES DE BUSCAR
                Resetear();

                FICHAMAESTRA = $("#txtpartida").val().trim();

                if (FICHAMAESTRA == "") {
                    Advertir("Escriba una ficha para realizar busqueda");
                } else {



                    $.ajax({
                        url: '/Corte/BuscarExiste',
                        type: 'GET',
                        data: { 'ficha': FICHAMAESTRA },
                        dataType: 'json',
                        success: function (response) {

                            var exis = response.EXISTE;

                            if (exis > 0) {
                                VerVersionRegitradas()
                                $("#btnRedireccionar").removeClass("d-none");
                            }
                            else {
                                Resetear();
                                AdvertirMini("Ficha no encontrada");
                            }

                        },
                        error: function (err) {
                            alert('Error:' + err.responseText);
                        }
                    });
                }

            }

            //LLENA DATOS DE TELA
            function VerVersionRegitradas() {
                var vrDocumento = $("#txtpartida").val();
                let datosx = {
                    'ficha': vrDocumento
                }

                $.ajax({
                    url: '/Corte/ListarVersiones',
                    type: 'GET',
                    data: datosx,
                    dataType: 'json',
                    success: function (response) {
                        //DATATABLE
                        let tabla = $("#tablaver").DataTable();
                        tabla.destroy();
                        var rows = '';

                        if (response.length > 0) {

                            response.forEach(function (obj) {

                                if (obj.contenido > 0) {
                                    rows += `
                                             <tr style='background-color:#6c757d;color:white'>
                                                <td class='text-center'><a href='#' data-combo='${obj.combo}' data-idversiones='${obj.VERSIONES}' data-idtela='${obj.TIPO_TELA}' class ="BtfTela" ><i style='color:#138d75 ' class='fas fa-check-double'></i></a></td>
                                                <td>${obj.combo}</td>
                                                <td>${obj.VERSIONES}</td>
                                                <td>${obj.F_REGISTRO}</td>
                                                <td>${obj.U_REGISTRO}</td>
                                               <td>${obj.TIPO_TELA}</td>
                                             </tr>
                                            `;
                                } else {
                                    rows += `
                                             <tr>
                                                <td class='text-center'><a href='#' data-combo='${obj.combo}' data-idversiones='${obj.VERSIONES}' data-idtela='${obj.TIPO_TELA}' class ="BtfTela" ><i style='color:#138d75 ' class='fas fa-check-double'></i></a></td>
                                                <td>${obj.combo}</td>
                                                <td>${obj.VERSIONES}</td>
                                                <td>${obj.F_REGISTRO}</td>
                                                <td>${obj.U_REGISTRO}</td>
                                               <td>${obj.TIPO_TELA}</td>
                                             </tr>
                                            `;
                                }

                            });

                            InformarMini(`${response.length} versiones encontradas`);
                        } else {
                            AdvertirMini("No se encontraron versiones");
                        }
                        $('#tablaversiones').html(rows);


                    },
                    error: function (err) {
                        alert('Error:' + err.responseText);
                    }
                });
            }

            // RESETEAR
            function Resetear() {
                $("#btnRedireccionar").addClass("d-none");

                $("#idcliente").text("");
                $("#idprograma").text("");
                $("#idpedidos").text("");
                $("#idestilos").text("");
                $("#tdcolor").text("");
                $("#tdcodtela").text("");


                $("#num1").text("");
                $("#num2").text("");
                $("#num3").text("");
                $("#num4").text("");
                $("#num5").text("");
                $("#num6").text("");
                $("#num7").text("");
                $("#num8").text("");
                $("#num9").text("");
                $("#num10").text("");
                $("#cantPrendas").text("");
                $("#TotalPanos").text("");
                $("#TxtDescripcionTela").text("");
                $("#UsuFecha").text("");

                $('#tablaCuerpoGrabar').html("");
                $('#tablacabececons').html("");
                $('#tablaCuerpocons').html("");

                $('#tablaCuerpoTotal').html("");
                $('#tablaCabeceraProporciones').html("");
                $('#tablaCuerpoProporciones').html("");
                $('#tablacabecerafxc').html("");
                $('#tablaCuerpofxc').html("");
            }

            // SELECCIONAMOS VERSION
            $("#tablaversiones").on('click', '.BtfTela', async function () {

                var ficha   = $("#txtpartida").val().trim();
                var version = $(this).data("idversiones");
                var tela    = $(this).data("idtela");
                var combo   = $(this).data("combo");

                // TIPO DE TELA
                $("#tipotelax").text( tela == "C" ? "COMPLEMENTO" : "PRINCIPAL");

                MostrarCarga("Cargando...");

                // BUSQUEDAS
                await VerDatosCabecera(ficha, version, tela, combo);
                await VerDatosExtra(ficha, version, tela, combo);
                await VerDatosTela(ficha, version, tela, combo);
                await VerFichaConsumo(ficha, version, tela, combo);
                await VerDatosTotales(ficha, version, tela, combo);
                await VerProporciones(ficha, version, tela, combo);
                await VerFxC(ficha, version, tela, combo);

            });

            // VER DATOS DE CABECERA
            async function VerDatosCabecera(ficha,version,tela,combo) {

                await get("Corte", "ListarCabeceraCort001", {
                    ficha, version, tela, combo
                }, true
                ).then(response => {

                    // ASIGNAMOS
                    $("#idcliente").text(response.CLIENTES);
                    $("#idprograma").text(response.PROGRAMAS);
                    $("#idpedidos").text(response.PEDIDOS);
                    $("#idestilos").text(response.ESTILOS);
                    $("#tdcolor").text(response.color);
                    $("#tdcodtela").text(response.cod_tela);

                    $("#num1").text(response.KG_ASIGNADO);
                    $("#num2").text(response.KG_SEGUN_TIZADO);
                    $("#num3").text(response.RESUL_KG);
                    $("#num4").text(response.VARIACION + " %");
                    $("#num5").text(response.LETRA_KG);
                    $("#num6").text(response.CONSU_MTS);
                    $("#num7").text(response.CONSU_KG);
                    $("#num8").text(response.UTILIDAD);
                    $("#num9").text(response.ENV_TELA_MTS);
                    $("#num10").text(response.ENV_TELA_KG);
                    $("#UsuFecha").text(response.U_REGISTRO + " - " + response.F_REGISTRO);
                    $("#partida").text(response.PARTIDA);

                    //COMENTARIO
                    $("#txtComentario").text(response.comentario);

                    $("#lblkilosdespachados").text(response.despachos);
                    $("#lblkilosdespachados_ser").text(response.despachos_ser);



                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });

            }

            //TELA / CANT PRNDA / CANT PAÑOS
            async function VerDatosExtra(ficha, version, tela, combo) {

                await get("Corte", "ObjCant", {
                    ficha, version, tela, combo
                }, true
                ).then(response => {
                    $("#cantPrendas").text(formatmiles(response.CANTPREND));
                    $("#TotalPanos").text(response.CANTPANOS);
                    $("#TxtDescripcionTela").text(response.TELA);
                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });
            }

            // VER DATOS TELA
            async function VerDatosTela(ficha,version, tela, combo) {

                await get("Corte", "ListaDatosTela", {
                    ficha, version, tela, combo
                }, true
                ).then(response => {

                    //DATATABLE
                    let tabla = $("#tablaGrabar").DataTable();
                    tabla.destroy();
                    var rows = '';
                    var cont = 0;
                    if (response.length > 0) {
                        response.forEach(function (obj) {
                            cont++;
                            if (cont <= 1) {
                                rows += `
                                                 <tr>
                                                    <td>${obj.columna1}</td>
                                                    <td class='text-right'>${obj.columna2}</td>
                                                    <td>${ obj.columna3 / 1000} Kg.</td>
                                                 </tr>
                                            `;
                            } else {
                                if (cont == 4) {
                                    rows += `
                                                     <tr>
                                                        <td>${obj.columna1}</td>
                                                        <td class='text-right'>${obj.columna2}</td>
                                                        <td>${ obj.columna3} Kg.</td>
                                                     </tr>
                                            `;
                                } else if (cont == 2) {
                                    console.log(obj.columna1);
                                    rows += `
                                                     <tr>
                                                        <td>${obj.columna1} (m) </td>
                                                        <td class='text-right'>${obj.columna2}</td>
                                                        <td>${ obj.columna3}</td>
                                                     </tr>
                                            `;
                                }
                                else {
                                    rows += `
                                                <tr>
                                                   <td>${obj.columna1}</td>
                                                   <td class='text-right'>${obj.columna2}</td>
                                                   <td>${obj.columna3}</td>
                                                </tr>
                                            `;
                                }

                            }



                        });
                    }
                    $('#tablaCuerpoGrabar').html(rows);
                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });


            }

            //LLENAR FICHAS - CONSUMO
            async function VerFichaConsumo(ficha,version, tela, combo) {

                await get("Corte", "ListaConsumos", {
                    ficha, version, tela, combo
                }
                ).then(response => {
                    let js = response;
                    let th = "<tr>";
                    let contador = 0;
                    for (var key in js) {
                        contador++;
                        if (contador == 1) {
                            for (var key2 in js[key]) {
                                th += `<th>${key2}</th>`;
                                //console.log(key2);
                                //console.log(js[key][key2]);
                            }
                        }
                    }
                    th += "</th>";
                    $("#tablacabececons").html(th);

                    //ARMA CUERPO
                    let tr = "";
                    for (var key in js) {
                        tr += "<tr>";
                        for (var key2 in js[key]) {
                            var resultado = js[key][key2];
                            //resultado = resultado.toFixed(3);
                            tr += `<td>${resultado}</td>`;
                        }
                        tr += "</tr>";
                    }
                    $("#tablaCuerpocons").html(tr);

                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });
 
            }

            //LLENAR DATOS TOTALES
            async function VerDatosTotales(ficha,version, tela, combo) {

                await get("Corte", "ListaTotal", {
                    ficha, version, tela, combo
                }, true
                ).then(response => {

                    let tabla = $("#tablaTotal").DataTable();
                    tabla.destroy();
                    var rows = '';
                    CONTADORCALCULOS = 0;
                    if (response.length > 0) {
                        response.forEach(function (obj) {
                            if (obj.TALLAXPRENDA != "0") {
                                CONTADORCALCULOS++;
                                rows += `
                                                 <tr>
                                                    <td class='text-right'>${obj.TALLAXPRENDA == 0 ? " " : obj.TALLAXPRENDA}</td>
                                                    <td class='text-right'>${obj.LARGO_TIZADO == 0 ? " " : obj.LARGO_TIZADO}</td>
                                                    <td class='text-right'>${obj.CONSUMO_PRENDA == 0 ? " " : obj.CONSUMO_PRENDA}</td>
                                                    <td class='text-right'>${obj.PESO_PANO == 0 ? " " : obj.PESO_PANO}</td>
                                                    <td class='text-right'>${obj.EFICIE_TIZADO == 0 ? " " : obj.EFICIE_TIZADO}</td>
                                                 </tr>
                                            `;
                            }

                        });
                    }
                    $('#tablaCuerpoTotal').html(rows);

                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });

            }

            // VER PROPORCIONES
            async function VerProporciones(ficha,version, tela, combo) {

                await get("Corte", "ListaProporciones", {
                    ficha, version, tela, combo
                }).then(response => {

                    let js = response;

                    let th = "<tr>";
                    let contador = 0;
                    let contador2 = 0;
                    for (var key in js) {
                        contador++;
                        if (contador == 1) {

                            for (var key2 in js[key]) {
                                contador2++;
                                if (contador2 >= 2) {
                                    let r1 = key2.replace(/_/g, "<br>");
                                    r1 = r1.replace(/'/g, "");
                                    //r1 = r1 == "PAÑOS" ? "PRENDAS" : r1;

                                    th += `<th style="vertical-align:middle;" class='text-center' >${r1}</th>`;

                                }

                            }
                        }
                    }
                    th += "</th>";
                    $("#tablaCabeceraProporciones").html(th);

                    //ARMA CUERPO
                    let tr = "";
                    let td = "";
                    let cont = 0;
                    let cont2 = 0;
                    let validar = false;
                    let valor = "";
                    for (var key in js) {
                        td = "";
                        cont++;
                        if (cont == 1 || cont == 19 || cont == 20) {
                            tr += `<tr style='background-color:#25495c;color:white' id='filaPropor${cont}'>`;


                            for (var key2 in js[key]) {
                                valor = js[key][key2].toString();
                                //valor = valor == "0" ? " " : valor;
                                if (key2 != "UBICA") {


                                    if (valor.includes("Calculo")) {
                                        valor = "Prendas por talla";
                                    }

                                    if (valor == "==>>" && cont == 20) {
                                        valor = "Prendas a recuperar";
                                    }

                                    if ((valor == "==>>" || valor == "==>") && cont != 20) {
                                        valor = "Prendas Totales";
                                    }

                                    let aling = !isNaN(valor) ? 'text-right' : '';

                                    tr += `<td nowrap class='${aling}'>${valor}</td>`;

                                }

                            }



                        } else {
                            tr += `<tr id='filaPropor${cont}'>`;
                            if (cont <= (CONTADORCALCULOS + 2)) {


                                for (var key2 in js[key]) {
                                    valor = js[key][key2].toString();
                                    valor = valor == "0" ? " " : valor;

                                    if (key2 != "UBICA") {


                                        if (valor.includes("Calculo")) {
                                            valor = "Prendas por talla";
                                        }

                                        if (valor == "==>>") {
                                            valor = "Prendas a recuperar";
                                        }

                                        let aling = !isNaN(valor) ? 'text-right' : '';

                                        tr += `<td nowrap class='${valor}'>${valor}</td>`;

                                    }

                                }

                            }
                        }

                        tr += "</tr>";

                    }

                    $("#tablaCuerpoProporciones").html(tr);

                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });

            }

            //LLENAR FICHAS X CANTIDADES
            async function VerFxC(ficha,version, tela, combo) {

                await get("Corte", "FichasxCantidades", {
                    ficha, version, tela, combo
                }).then(response => {

                    let js = response;

                    //ARMA CABECERA
                    let th = "<tr style='vertical-align:middle'>";
                    let contador = 0;

                    for (var key in js) {
                        contador++;
                        if (contador == 1) {
                            for (var key2 in js[key]) {
                                let r1 = key2.replace(/_/g, "<br>");
                                r1 = r1.replace(/'/g, "");

                                th += `<th style="vertical-align:middle;" class='text-center'>${r1}</th>`;
                            }
                        }
                    }
                    th += "</th>";
                    $("#tablacabecerafxc").html(th);

                    //ARMA CUERPO
                    let tr = "";
                    let cont = 0;
                    for (var key in js) {
                        cont++;
                        if (cont == 1) {
                            tr += "<tr style='background-color:#25495c;color:white'>";
                        } else {
                            tr += "<tr>";
                        }
                        for (var key2 in js[key]) {
                            var contenido = js[key][key2];
                            contenido = contenido == "0" ? " " : contenido;
                            contenido = contenido == "Paños ->>" ? "Prendas ->>" : contenido;
                            let aling = !isNaN(contenido) ? 'text-right' : '';

                            tr += `<td class='${aling}' nowrap>${contenido}</td>`;
                        }
                        tr += "</tr>";
                    }
                    $("#tablaCuerpofxc").html(tr);

                    //InformarMini("Busqueda terminada");
                    OcultarCarga();


                }).catch(error => {
                    console.log(error);
                    AdvertirMini("Ocurrio un error contacte a sistemas");
                });

            }

        </script>
    }
