.mayus {
    text-transform: uppercase;
}

body {
    font-size: 0.8rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/public/progress.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}



.tablainput td {
    position: relative;
}

    .tablainput td .inputtabla {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

/*OCULTAMOS FLECHAS DE LOS INPUTS*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.border-right {
    border-right: 1px solid #343a40 !important;
}


.border-left {
    border-left: 1px solid #343a40 !important;
}

.border-top {
    border-top: 1px solid #343a40 !important;
}

.border-bottom {
    border-bottom: 1px solid #343a40 !important;
}


#hreflogotsc img {
    max-width: 130px;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
    height:25px;
}


::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }


.content-wrapper {
    background-image: url(../../Public/bgimg.png);
    background-repeat: repeat;
}


select{
    font-size:100% !important;
}