
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FooterImpresionOC</title>
    <style>

        #ccs-tamaño {
            font-size: 9px;
            border-style: solid;
        }
        #tamaño-letra {
            font-size: 9px;
            color :red;
        }
        
    </style>
</head>
<body>
       <br/>
    <div>
        <table border="1"style="font-size:12px;">
            <tr>
                <th>
                    SOMOS AGENTE DE RETENCION DEL IMPUESTO GENERAL A LAS VENTAS SUNAT , A PARTIR DEL 01 DE FEBRERO DEL 2015, POR
                    RESOLUCION DE SUPERINTENDENCIA N° 395-2014 / SUNAT , PUBLICADA EL 31.12.2014
                </th>
            </tr>
        </table>

    </div>
    <table style="font-size:10px;">
        <tr>
            <th align="left">
                1.La Guía de Remisión deberá indicar punto de partida y punto de llegada segun lo especifica la orden de compra y/o servicio
                (direecion,ditrito,ciudad,departamento);Que cumpla a los indicados en el Registro de Comprobantes de Pago Art 19,numeral 1 , caso
                contrario NO sera repecionadas.
            </th>
        </tr>
        <tr align="left">
            <th>
                2.Las facturas deberan ser presentadas con fotocopia de la orden de compra, guia de remision y/o requerimiento y/o nota de conformidad de
                servicio
            </th>
        </tr>
         <tr align="left">
                <th>
                    3.No se aceptaran comprobantes de pago con errores y/o enmiendas.
                </th>
            </tr>
          <tr align="left" >
                <th>
                    4.La fecha de pago sera programada a parti de la recepcion de las facturas correctamente emitidas.
                </th>
          </tr>
    </table>
</body>
</html>
