@{
    ViewBag.Title = "Subir POs";
    ViewBag.Modulo = "Comercial";
    Layout = "~/Views/Plantillas/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title">Filtros</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    
    <div class="card-body">
        
        <div class="row">          
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 form-group">
                <h6>Pedido</h6>
                <input type="text" class="form-control mayus" id="txtPedido" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 form-group">
                <h6>POs</h6>
                <input type="text" class="form-control mayus" id="txtPos" />
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 form-group">
                <h6>Programa:</h6>
                <input type="text" class="form-control mayus" id="txtPrograma" />
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 form-group">
                <h6>&nbsp;</h6>
                <button class="btn btn-primary btn-block" id="btnBuscar" type="button">Buscar</button>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 form-group">
                <h6>&nbsp;</h6>
                <button class="btn btn-danger btn-block" id="btnNuevo" type="button">Registrar POs</button>

            </div>
 
        </div>
    </div>     

</div>


<!-- REGISTROS -->
<div class="card">
    <div class="card-body">
        
        <table class="table table-sm table-bordered dt-responsive nowrap" style="width:100%" id="tablaRegistros">
            <thead>
                <tr>
                    <th>POs</th>
                    <th>Cliente</th>    
                    <th>Archivo</th>                                                    
                    <th>Version</th>                    
                    <th>Observación</th>

                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody id="tablaCuerpoRegistros"></tbody>
        </table>
        
        
    </div>
</div>

<!-- MODAL REGISTRO -->
<div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de PO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row" id="frmArchivos">
                    <div class="col-4 form-group">
                        <h6>POs</h6>
                        <input type="text" class="form-control mayus" id="txtPORegistro" />
                    </div>
                    <div class="col-4 form-group">
                        <h6>&nbsp;</h6>
                        <button class="btn btn-danger btn-block" id="btnRegistrar" type="button"> Registrar</button>
                    </div>
                   
                        <div class="col-12 form-group">
                            <div class="col-4 form-group">
                                <h6>Cliente:</h6>                                
                            </div>
                            <table class="table table-bordered dt-responsive nowrap" style="width:100%" id="tablaCabecera">
                                <tbody>
                                    <tr style="background-color:#25495c;color:white">
                                        <td id="idcliente"></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                       
                        <div class="col-12 form-group">
                            <h6>Observación:</h6>
                            <textarea class="form-control" id="txtObservacion"></textarea>
                        </div>

                        <div class="col-8 form-group">
                            <h6>Archivo:</h6>
                            <input type="file" id="fileFicha" accept="application/pdf" />
                        </div>

                        @*<div class="col-4 form-group">
                <h6>&nbsp;</h6>
                <button class="btn btn-danger btn-block" id="btnRegistrar" type="button"> Registrar</button>
            </div>*@
            </form>
            </div>
        </div>
    </div>
</div>





@section scripts{
    <script src="~/Admin/js/OperacionesProceso/FichaTecnica/RegistrosPO.js"></script>

    <script>
        $(document).ready(function(){

            $("#btnRegistrar").click(function () {
                Registrar()
            });
            //ABRE MODAL
            $("#btnNuevo").click(function(){
                $("#ModalRegistro").modal("show");
                //RECETEA CARGA
                $("#btnRegistrar").html("Registrar");              
            });
            //FILTROS
            $("#btnBuscar").click(function(){
                BuscarRegistros();
            });
        });
           
        //BUSCAR ARCHIVOS FICHAS TECNICA
        function BuscarRegistros() {

            let po ;
            let pedido;
            let programa;

            if ($("#txtPos").val() == '' )
            {
                po = null  ;
            }
            else
            {
                po = $("#txtPos").val()  ;
            }

            if ($("#txtPedido").val() == '' )
            {
                pedido = null  ;
            }
            else
            {
                pedido = $("#txtPedido").val()  ;
            }

            programa = $("#txtPrograma").val() == "" ? null :  $("#txtPrograma").val();

            let datos = {
                'po' : po,
                'pedido' : pedido,  
                'programa' : programa,              
                
            }
            //DATATABLE

            $.ajax({
                url: '/Comercial/RptCome002/',
                type: 'GET',
                contenType: 'json',
                data :datos,
                success: function (e) {
                    let tabla = $("#tablaRegistros").DataTable();
                    tabla.destroy();
                    let tr = "";
                    e.forEach(function(obj){
                        //console.log(obj)
                        tr +=  `<tr>;
                        <td>${obj.PO}</td>
                        <td>${obj.cliente}</td>
                        <td>${obj.ARCHIVO}</td>
                        <td>${obj.VERSIONUPLOAD}</td>
                        <td>${obj.OBSERVACION}</td>
                        <td>${obj.USUARIORCRE}</td>
                        <td>${obj.fechacre}</td>
                        <td>${obj.horacre}</td>
                        <td class='text-center'><a href='${obj.RUTAARCHIVO}' target='_blank'><i style='color:red' class='fas fa-file-pdf'></i></a></td>`;                                  
                    });

                    $("#tablaCuerpoRegistros").html(tr);
                    $("#tablaRegistros").DataTable(
				        {'language' : {'url' : '/libs/datatables/spanish.json'},
				            lengthMenu: [[10, 20, -1], [10, 20, 'Todos']]}

			        );

                }
            });
        }

    </script>
}