
@{
    ViewBag.Title = "Reporte Stock Fecha";
    ViewBag.Modulo = "Logistica";
    Layout = "~/Views/Plantillas/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
    </div>

    <div class="card-body">
        @* Fila de Filtros*@
        <div class="row">
            <div class="form-group col-md-2">
                <div style="font-weight: bold; ">Partida</div>
                <input type="text" class="form-control form-control-sm input-sm" placeholder="Partida" id="txtpartida" />
            </div>
            <div class="form-group col-md-2">
                <div style="font-weight: bold; ">Ubicación</div>
                <input type="text" class="form-control form-control-sm input-sm" placeholder="Ubicación" id="txtubicacion" />
            </div>
            <div class="form-group col-md-2">
                <div style="font-weight: bold; ">Tipo Tela</div>
                <input type="text" class="form-control form-control-sm input-sm" placeholder="Tipo Tela" id="txttipotela" />
            </div>
            <div class="form-group col-md-2">
                <div style="font-weight: bold; ">Almacenes</div>
                <input type="text" class="form-control form-control-sm input-sm" placeholder="Almacenes" id="txtalmacenes" />
            </div>

            <div class="form-group col-md-3">
                <div style="font-weight: bold; ">Centros de Costo</div>
                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" id="cboCentroCosto"></select>
            </div>

            <div class="form-group col-md-1">
                <div style="font-weight:bold ; color: #ffffff; ">.</div>
                <button class="btn btn-primary btn-block btn-sm" id="btnBuscar">Buscar</button>
            </div>

            <div class="cont-btn-excel">
                <button id="btnExportarExcel" class="btn btn-success ml-2">Exportar Excel</button>
            </div>

        </div>

    </div>

    <div class="card-body">
        @* <table class="table table-sm table-bordered table-hover  dt-responsive nowrap" id="tablaPrincipal" style="width:100%;">*@
        <table class="table table-sm table-bordered nowrap" id="tablaPrincipal" style="width:100%;">
            <thead class="thead-light">
                <tr>
                    <th>Cod. Item</th>
                    <th>C. Costo</th>
                    <th>Desc. C.Costo</th>
                    <th>Cod. Almacén</th>
                    <th>Desc. Almacén</th>
                    <th>Partida</th>
                    <th>Lote</th>
                    <th>Tipo Tela</th>
                    <th>Desc. Producto</th>
                    <th>Articulo Producto</th>
                    <th>Talla</th>
                    <th>Color</th>
                    <th>Inicial</th>
                    <th>Entradas</th>
                    <th>Salidas</th>
                    <th>Stock</th>
                    <th>UM</th>
                    <th>Cod. Proveedor</th>
                    <th>Proveedor</th>
                    <th>Programa</th>
                    <th>Ubicación</th>
                    <th>Ult. Fecha Ing.</th>
                    <th>Ult. Fecha Sal.</th>
                    <th>N° OC</th>
                    <th>Fecha Ing</th>
                    <th>Cliente</th>
                    <th>Estilo Cliente</th>
                    <th>Observación OC</th>
                </tr>
            </thead>
            <tbody id="tablaCabeceraContenido"></tbody>
        </table>
    </div>

</div>

@section scripts{
    <script src="~/Admin/js/Almacenes/JSReporteStockFecha.js"></script>
}