@{
    ViewBag.Title = "Reporte Aprobación de Cambio Precio";
    ViewBag.Modulo = "Gerencia";
    Layout = "~/Views/Plantillas/_Layout.cshtml";
}


<div class="rep-cambio">

    <div class="card">

        <div class="card-header">


            <div class="form-row">

                <div class="form-group col-md-2">
                    <select class="form-control form-control-sm selectEstado" multiple="multiple" id="cboEstado" placeholder="Estado"></select>
                </div>

                <div class="form-group col-md-2">
                    <input required="" type="text" class="form-control form-control-sm" id="FechaIni" placeholder="Fecha Inicio" onfocus="(this.type='date')" />
                </div>

                <div class="form-group col-md-2">
                    <input required="" type="text" class="form-control form-control-sm" id="FechaFin" placeholder="Fecha Fin" onfocus="(this.type='date')" />
                </div>

                <div class="form-group col-md-2">
                    <input required="" type="text" class="form-control form-control-sm" id="Pedido" placeholder="Pedido" onfocus="" />
                </div>

                <div class="form-group col-md-2">
                    <button type="button" class="btn btn-primary form-control-sm btn-sm" id="btnBuscar">Buscar<i class="fas fa-search" style="margin-left: 7px;"></i></button>
                </div>
                 
            </div>

        </div>

        <div class="card-body">
            <table class="table table-sm table-bordered nowrap" id="tablaPrincipal" style="width:100%;">
                <thead class="thead-light">
                    <tr>
                        <th class="all">Cliente</th>
                        <th>Pedido</th>
                        <th>Color</th>
                        <th>Precio Antiguo</th>
                        <th>Precio Nuevo</th>
                        <th>Estado</th>
                        <th class="all">Usuario Solicitud</th>
                        <th>Fecha Solicitud</th>
                        <th>Motivo Solicitud</th>
                        <th class="all">Motivo Aprobación / Rechazo</th>

                    </tr>
                </thead>
                <tbody id="tablaCabeceraContenido"></tbody>
            </table>
        </div>
    </div>

</div>


<style>

    /* Estilos Especiales */

    .rep-cambio #btnExportarExcel {
        min-width: 150px;
    }

    .rep-cambio #tablaPrincipal .table td, .table th {
        /*padding: 0.45rem !important; */
    }

    .rep-cambio #tablaPrincipal .table .tam_colum {
        max-width: 170px;
        overflow: hidden;
    }


    /* Custom, iPhone Retina */
    @@media only screen and (min-width : 320px) {
        .card-header .seccion-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

            .card-header .seccion-1 .cont-btn-buscar {
                margin-top: 3px;
            }

        .card-header .seccion-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            border-top: 1px solid #EBEDEF;
            margin-top: 15px;
            padding-top: 8px;
        }
    }

    /* Extra Small Devices, Phones */
    @@media only screen and (min-width : 480px) {
    }

    /* Small Devices, Tablets */
    @@media only screen and (min-width : 768px) {
        .card-header .seccion-1 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
        }


        .card-header .seccion-2 {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
            border-top: none;
            margin-top: 0px;
            padding-top: 0px;
        }
    }

    /* Medium Devices, Desktops */
    @@media only screen and (min-width : 992px) {
    }

    /* Large Devices, Wide Screens */
    @@media only screen and (min-width : 1100px) {
    }
</style>

@section scripts {

    <script>

        var PEDIDOS = [];
        var cod_estado = [];

        $(document).ready(function () {

            $("#cboEstado").multipleSelect();

            LlenarCBO_Estado();

            function LlenarCBO_Estado() {
                $.ajax({
                    type: "GET",
                    url: '/gerencia/ListarEstado',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $.each(data.lista, function () {
                            $("#cboEstado").append($("<option/>").val(this.CODESTADO).text(this.ESTADO));
                        });
                        $('#cboEstado').multipleSelect("refresh");
                    },
                    failure: function () {
                        console.error('Error al cargar los estados');
                    }
                });
            }

            $("select.selectEstado").change(function () {
                cod_estado = $("#cboEstado").val();
            });

            $("#btnBuscar").click(function () {

                let fechaIni = $('#FechaIni').val();
                let fechaFin = $('#FechaFin').val();
                let pedido = $('#pedido').val();


                if (cod_estado.length == 0) {
                    Swal.fire('Seleccione un estado')
                }
                else if (fechaIni == null ||
                    fechaFin == null ||
                    typeof (fechaIni) == "undefined" ||
                    typeof (fechaFin) == "undefined" ||
                    fechaIni == "Fecha Inicio" ||
                    fechaFin == "Fecha Fin" ||
                    fechaIni.trim() == "" ||
                    fechaFin.trim() == "") {

                    Swal.fire('Seleccione la fecha, por favor')
                }
                else {

                    var vEstado = "";

                    for (var i = 0; i < cod_estado.length; i++) {
                        vEstado =  vEstado + "" + cod_estado[i] + ","
                    }
                    vEstado = vEstado.slice(0, vEstado.length - 1);

                    var datos =
                    {   

                        'pedido': pedido,
                        'estado': vEstado,
                        'fechaIni': fechaIni,
                        'fechaFin': fechaFin
                    }
                    debugger
                    Listar(datos);

                }
            });
                 
            function Listar(datos) {

                MostrarCarga("Cargando...");

                $.ajax({
                    type: "GET",
                    url: '/gerencia/ListarCambio',
                    dataType: "json",
                    data: datos,
                    success: function (data) {

                        console.log(data);

                        let tabla = $("#tablaPrincipal").DataTable();
                        tabla.destroy();
                        var tr = ""; 

                        data.lista.forEach((obj) => {

                            tr += "<tr> "
                                + " <td>" + String(obj.CLIENTE) + "</td>" 
                                + " <td class='tam_colum'>" + obj.PEDIDO + "</td>"
                                + " <td class='tam_colum'>" + obj.COLOR + "</td>"
                                + " <td class='tam_colum'>" + obj.ANTIGUO_PRECIO + "</td>"
                                + " <td class='tam_colum'>" + obj.NUEVO_PRECIO + "</td>"
                                + " <td class='tam_colum'>" + obj.ESTADO + "</td>"
                                + " <td class='tam_colum'>" + obj.USUARIO_SOLICITUD + "</td>"
                                + " <td class='tam_colum'>" + obj.FECHA_SOLICITUD + "</td>"
                                + " <td class='tam_colum'>" + obj.MOTIVO_SOLICITUD + "</td>"
                                + " <td class='tam_colum'>" + obj.MOTIVO_APROBACION_RECHAZO + "</td></tr>" ;

                        });

                        console.log(tr);

                        $("#tablaCabeceraContenido").html(tr);
                        //ArmarDataTable("tablaPrincipal", true, false);

                        $("#tablaPrincipal").DataTable(
                            {
                                "language": { 'url': '/libs/datatables/spanish.json' },
                                "initComplete": function (settings, json) {

                                },
                                "footerCallback": function (row, data, start, end, display) {

                                    return;
                                },
                                "scrollX": true,
                                "bSort": true,
                                dom: 'Bfrtip',
                                buttons: [
                                    'excel','pdf', 'print'
                                ],
                                scrollY: '50vh',
                                scrollCollapse: true,
                                paging: true,
                                lengthMenu: [[10, 15, 20, -1], [10, 15, 20, 'Todos']]
                            });

                         
                        Swal.fire({
                            icon: 'success',
                            title: "Mostrando Datos",
                            text: "Textile Sourcing Company",
                            allowEscapeKey: false,
                            showConfirmButton: false,
                            timer: 1500,
                        });

                    },
                    failure: function () {
                        console.error('Error al cargar la información');
                    }
                });

            }

            $("#btnExportarExcel").click(function () {

                let fechaIni = $('#FechaIni').val();
                let fechaFin = $('#FechaFin').val();
                let pedido = $('#pedido').val();


                if (cod_estado.length == 0) {
                    Swal.fire('Seleccione estado')
                }
                else if (fechaIni == null ||
                    fechaFin == null ||
                    typeof (fechaIni) == "undefined" ||
                    typeof (fechaFin) == "undefined" ||
                    fechaIni == "Fecha Inicio" ||
                    fechaFin == "Fecha Fin" ||
                    fechaIni.trim() == "" ||
                    fechaFin.trim() == "") {

                    Swal.fire('Seleccione la fecha, por favor')
                }
                else {

                    var vEstado = "";

                    for (var i = 0; i < cod_estado.length; i++) {
                        vEstado = vEstado + "" + cod_estado[i] + ","
                    }
                    vEstado = vEstado.slice(0, vEstado.length - 1);

                    var datos =
                    {
                        'pedido': pedido,
                        'estado': vEstado,
                        'fechaIni': fechaIni,
                        'fechaFin': fechaFin
                    }

                    //exportarExcel(datos);

                }
            });
             
            function formatoNumero(x) {
                x = x.toFixed(2);
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

        });


    </script>
}