<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Textile Web - 500 </title>

    <link href="~/Admin/css/500.css" rel="stylesheet" />
    <!-- ICONO -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
</head>
<body class="loading">
    <h1>500</h1>
    <h2>Error Inesperado en el servidor<b>:(</b></h2>
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <script src="~/Libs/Jquery/jquery-3.4.1.min.js"></script>
    <script src="~/Admin/js/500.js" type="text/javascript"></script>
</body>
</html>