@{
    ViewBag.Title = "Aprobación de Solicitud";
    ViewBag.Modulo = "Finanzas";
    Layout = "~/Views/Plantillas/_Layout.cshtml";
}

<div id="asolgasaps" class="container-fluid">

    <div class="card">

        <div class="row m-2 d-flex justify-content-end">
            <button id="abtnAprobar" type="button" class="btn btn-success btn-sm">Aprobar</button>
            <button id="abtnRechazar" type="button" class="btn btn-danger btn-sm ml-1">Rechazar</button>
        </div>

        <hr />

        <div class="m-2">
            <table class="table table-sm table-bordered table-hover display nowrap" id="atblPendientes" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th class="ocultar-columna">idSolicitud</th>
                        <th>Fecha</th>
                        <th>Codigo</th>
                        <th>Colaborador</th>
                        <th>Glosa / Desc. Solicitud</th>
                        <th class="">Estado</th>
                        <th class="">Tipo</th>
                        <th>Nivel Aprobacion</th>
                        <th class="">Moneda</th>
                        <th>Valor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="atblPendientesContent"></tbody>
            </table>
        </div>

    </div>

    <div class="modal fade" id="amodalDetalleSol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle de Solicitud</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <div class="col-2">
                                <label for="aidmdcodigo">Codigo:</label>
                                <span type="text" class="form-control form-control-sm" id="aidmdcodigo"></span>
                            </div>
                            <div class="col-2">
                                <label for="aidmdfecha">Fecha:</label>
                                <span type="text" class="form-control form-control-sm" id="aidmdfecha"></span>
                            </div>
                            <div class="col-2">
                                <label for="aidmdestado">Estado:</label>
                                <span type="text" class="form-control form-control-sm" id="aidmdestado"></span>
                            </div>
                            <div class="col-6">
                                <label for="aidmdususol">Usuario Solicitante:</label>
                                <span type="text" class="form-control form-control-sm" id="aidmdususol"></span>
                            </div>
                        </div>

                        <div class="row mt-2 mb-2">
                            <div class="col-5">
                                <label for="aidmdcolaborador">Colaborador:</label>
                                <span class="form-control form-control-sm" id="aidmdcolaborador"></span>
                            </div>
                            <div class="col-5">
                                <label for="aidmdobs">Glosa:</label>
                                <span class="form-control form-control-sm" id="aidmdobs"></span>
                            </div>
                            <div class="col-1">
                                <label for="aidmdmoneda">Moneda:</label>
                                <span class="form-control form-control-sm" id="aidmdmoneda"></span>
                            </div>
                            <div class="col-1">
                                <label for="aidmdtotal">Total:</label>
                                <span class="form-control form-control-sm" id="aidmdtotal"></span>
                            </div>
                        </div>

                        <div class="mt-1 mb-1">
                            <hr />
                        </div>

                        <div class="contenedor-detalle">
                            <table class="table table-sm table-bordered table-hover display nowrap" id="atblDetallePend" style="width: 100%">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Concepto</th>
                                        <th class="all">Detalle</th>
                                        <th>Cant. Dias</th>
                                        <th>Valor</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="atblDetallePendContent"></tbody>
                            </table>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>




<style>

    #asolgasaps label {
        font-family: 'Roboto', sans-serif;
    }


    #asolgasaps table .ocultar-columna {
        display: none;
    }

    #asolgasaps input {
        font-family: 'Roboto', sans-serif;
    }


    #asolgasaps #tblResultado th {
        font-family: 'Roboto', sans-serif !important;
    }

    #asolgasaps #tblResultado td {
        font-family: 'Roboto', sans-serif !important;
    }

    #asolgasaps .contenedor-detalle {
        overflow: hidden;
        width: 100%;
    }


    @@media (min-width: 320px) and (max-width: 479.98px) {
    }

    @@media (min-width: 480px) and (max-width: 767.98px) {
    }

    @@media (min-width: 768px) and (max-width: 991.98px) {
    }

    @@media (min-width: 992px) and (max-width: 1199.98px) {
    }

    @@media (min-width: 1200px) {
    }
</style>


@section scripts {

    <script src="~/Admin/js/Finanzas/Rendiciones/moment.js"></script>

    <script>

        const USUARIO = "@Request.RequestContext.HttpContext.Session["usuario"]";
        const USUARIO_COMPLETO = "@Request.RequestContext.HttpContext.Session["usuario"]" + " - " + "@Request.RequestContext.HttpContext.Session["nombre"]";

        const aNIVEL_INTERFAZ = 20;
        var asolicitudesArray = [];

        var avFechaIniPend = "";
        var avFechaFinPend = "";

        $(document).ready(function () {

            Inicializar();


            function Inicializar() {

                var now = new Date();
                var month = (now.getMonth() + 1);
                var day = now.getDate();
                if (month < 10)
                    month = "0" + month;
                if (day < 10)
                    day = "0" + day;
                var today = now.getFullYear() + '-' + month + '-' + day;

                $('#aidfechaIniHist').val(today);
                $('#aidfechaFinHist').val(today);


                agetLista(aNIVEL_INTERFAZ);
            }

            function formatoNumero(x) {
                x = x.toFixed(2);
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function mensajePrincipal(estado, mensaje) {
                if (estado == true) {

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: mensaje
                    });

                }
                else if (estado == false) {

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'error',
                        title: mensaje
                    });

                }
            }


            function agetLista(nivelInterfaz) {

                $.ajax({
                    type: "GET",
                    url: '/finanzas/RG_PendientesAprobacion20',
                    contentType: "application/json; charset=utf-8",
                    data: { nivelInterfaz: nivelInterfaz},
                    dataType: "json",
                    success: function (data) {

                        let tabla = $("#atblPendientes").DataTable();

                        tabla.destroy();
                        var tr = "";

                        data.lista.forEach((obj) => {

                            tr += "<tr> "
                                + " <td class='ocultar-columna'>" + obj.idSolicitud + "</td>"
                                + " <td> " + obj.fecha + "</td>"
                                + " <td> " + obj.codigo + "</td>"
                                + " <td> " + obj.colaborador + "</td>"
                                + " <td> " + obj.observacion + "</td>"
                                + " <td> " + obj.estado + "</td>"
                                + " <td> " + obj.tipo + "</td>"
                                + " <td> " + obj.nivelAprobacion + "</td>"
                                + " <td> " + obj.moneda + "</td>"
                                + " <td> " + formatoNumero(obj.total) + "</td>"

                                + " <td class='text-center'>"
                                + "     <button data-idsolicitud='" + obj.idSolicitud + "' data-toggle='collapse' data-target='#amodalDetalleSol' class='btn btn-sm btn-primary cIdSolicitudDet'> <i class='fas fa-eye'></i></button>"
                                + "     <input type='checkbox' data-idsolicitud='" + obj.idSolicitud + "' class='seleccion ml-2'>"
                                + "</td>"

                                + "</tr>";
                        });

                        $("#atblPendientesContent").html(tr);


                        $("#atblPendientes").DataTable(
                            {
                                searching: true,
                                paging: false,
                                info: false,
                                "scrollY": "430px",
                                "scrollCollapse": true,
                                'language': { 'url': '/libs/datatables/spanish.json' },
                                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
                            });

                    },
                    failure: function () {
                        console.error('error al cargar los periodos');
                    }
                });

            }

            $("#atblPendientes").on('click', '.seleccion', function () {
                let idsolicitud = $(this).attr("data-idsolicitud");

                //AGREGANDO AL ARRAY
                if ($(this).prop("checked")) {

                    asolicitudesArray.push({ idsolicitud: idsolicitud });

                } else {//QUITA DEL ARRAY

                    for (var i = 0; i < asolicitudesArray.length; i++) {

                        if (asolicitudesArray[i].idsolicitud == idsolicitud) {

                            asolicitudesArray.splice(i, 1);
                        }
                    }
                }
            });

            $("#abtnAprobar").click(function () {
                if (asolicitudesArray.length > 0) {
                    // Aprobacion
                    aAprobarRechazar(1, 1);
                }
                else {
                    Swal.fire({
                        title: 'Seleccione las solicitudes para aprobar',
                        text: "Textile Sourcing Company",
                        icon: 'warning',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ok'
                    });
                }
            });

            $("#abtnRechazar").click(function () {
                if (asolicitudesArray.length > 0) {
                    // Rechazar
                    aAprobarRechazar(1, 2);
                }
                else {
                    Swal.fire({
                        title: 'Seleccione las solicitudes que desea rechazar',
                        text: "Textile Sourcing Company",
                        icon: 'warning',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ok'
                    });
                }
            });

            function aAprobarRechazar(opcion, opcionTipoAprob) {

                let parametro = {};

                parametro = {
                    'opcion': opcion,
                    'opcionTipoAprob': opcionTipoAprob,
                    'asolicitudesArray': asolicitudesArray,
                    'usuario': USUARIO,
                    'nivelInterfaz': aNIVEL_INTERFAZ
                };

                MostrarCarga("Cargando...");

                $.ajax({
                    url: "/finanzas/RG_AprobacionSolicitud20",
                    type: "post",
                    data: parametro,
                    dataType: "json",
                    success: function (resultado) {

                        if (resultado.isRedirect) {
                            window.location.href = resultado.redirectUrl;
                        }
                        else {
                            if (resultado.status.idResponse > 0) {
                                mensajePrincipal(true, "Actualizando Lista");
                            }
                            else {
                                mensajePrincipal(false, "Ocurrio un problema");
                            }

                            asolicitudesArray = [];
                            agetLista(aNIVEL_INTERFAZ);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                });
            }

            $("#atblPendientes").on('click', '.cIdSolicitudDet', function () {

                let idsolcitud = $(this).attr("data-idsolicitud");
                let valorTotal = 0;

                $.ajax({
                    type: "GET",
                    url: '/finanzas/RG_PendAprob20Det',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { idSolicitud: idsolcitud },
                    success: function (data) {

                        if (data.isRedirect) {
                            window.location.href = data.redirectUrl;
                        }
                        else {

                            $("#aidmdfecha").text(data.entidad.fecha);
                            $("#aidmdcodigo").text(data.entidad.codigo);
                            $("#aidmdobs").text(data.entidad.observacion);
                            $("#aidmdcolaborador").text(data.entidad.colaborador);
                            $("#aidmdestado").text(data.entidad.estado);
                            $("#aidmdmoneda").text(data.entidad.moneda);
                            $("#aidmdususol").text(data.entidad.usuSolicitante);

                            let tabla = $("#atblDetallePend").DataTable();

                            tabla.destroy();
                            var tr = "";

                            data.entidad.listaDetalle.forEach((obj) => {

                                tr += "<tr> "
                                    + " <td> " + obj.fecha + "</td>"
                                    //+ " <td> " + obj.ceco + "</td>"
                                    + " <td> " + obj.tipo + "</td>"
                                    + " <td> " + obj.conceptoCab + "</td>"
                                    + " <td> " + obj.conceptoDet + "</td>"

                                    + " <td> " + obj.cantDias + "</td>"
                                    + " <td> " + formatoNumero(obj.valor) + "</td>"
                                    + " <td> " + obj.simbolo + " " + formatoNumero(obj.total) + "</td>"

                                    + "</tr>";

                                valorTotal = valorTotal + (obj.valor * obj.cantDias);

                            });

                            $("#atblDetallePendContent").html(tr);

                            $("#atblDetallePend").DataTable(
                                {
                                    searching: false,
                                    paging: false,
                                    info: false,
                                    //"scrollY": "300px",
                                    //"scrollCollapse": true,

                                    'language': { 'url': '/libs/datatables/spanish.json' },
                                    lengthMenu: [[-1], ['Todos']]
                                });

                            $("#aidmdtotal").text(formatoNumero(valorTotal));
                            $('#amodalDetalleSol').modal('show');
                        }
                    },
                    failure: function () {
                        console.error('error al cargar los periodos');

                        Swal.fire({
                            icon: 'error',
                            title: 'Error al mostrar datos',
                            text: 'Textile Sourcing Company',
                            showConfirmButton: false,
                            timer: 2500,
                        });

                    }
                });

            });

            $("#atblPendientes").on('click', '.cAprobar', function () {
                let idsolicitud = $(this).attr("data-idsolicitud");
                aAprobarRechazar20(idsolicitud, "¿Desea Aprobar la Solicitud?", 1);
            });

            $("#atblPendientes").on('click', '.cRechazar', function () {
                let idsolicitud = $(this).attr("data-idsolicitud");
                aAprobarRechazar20(idsolicitud, "¿Desea Rechazar la Solicitud?", 2);
            });

            function aAprobarRechazar20(idsolicitud, pregunta, opcion) {

                Swal.fire({
                    title: pregunta,
                    text: "Textile Sourcing Company",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'

                }).then((result) => {

                    if (result.value) {


                        let parametro = {
                            'opcionTipoAprob': opcion,
                            'idSolicitud': idsolicitud,
                            'secuencia': 0,
                            'valorEntrega': 0
                        }


                        $.ajax({
                            url: "/finanzas/RG_AprobRech20",
                            type: "post",
                            data: parametro,
                            dataType: "json",
                            success: function (resultado) {

                                if (resultado.isRedirect) {
                                    window.location.href = resultado.redirectUrl;
                                }
                                else {
                                    if (resultado.status.idResponse > 0) {
                                        mensajePrincipal(true, "Actualizando Lista");
                                    }
                                    else {
                                        mensajePrincipal(false, "Ocurrio un problema");
                                    }

                                    //var datos =
                                    //{
                                    //    'fechaInicio': avFechaIniPend,
                                    //    'fechaFin': avFechaFinPend,
                                    //    'nivelInterfaz': aNIVEL_INTERFAZ
                                    //}

                                    agetLista(aNIVEL_INTERFAZ);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {

                            }
                        });


                    }
                })

            }


        });



    </script>

}

