@{
    ViewBag.Title = "Aprobación de Gastos";
    ViewBag.Modulo = "Finanzas";
    Layout = "~/Views/Plantillas/_Layout.cshtml";
}

<div id="solgasap" class="container-fluid">

    <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
        @*<li class="nav-item">
                <a class="nav-link active" id="sg-pendientes" data-toggle="tab" href="#sg-pendientes" role="tab" aria-controls="sg-pendientes"
                   aria-selected="true">Pendientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sg-historial" data-toggle="tab" href="#sg-historial" role="tab" aria-controls="sg-historial"
                   aria-selected="false">Historial</a>
            </li>*@

        <li class="nav-item">
            <a class="nav-link active" id="firma-tab-just" data-toggle="tab" href="#firma-just" role="tab" aria-controls="firma-just"
               aria-selected="true">Pendientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="aprobados-tab-just" data-toggle="tab" href="#aprobadas-just" role="tab" aria-controls="aprobadas-just"
               aria-selected="false">Historial</a>
        </li>

    </ul>



    <div class="tab-content card pt-1" id="myTabContentJust">


        <div class="tab-pane fade show active" id="firma-just" role="tabpanel" aria-labelledby="firma-tab-just">

            <div class="row m-2">
                <div class="col-3 p-1">
                    <label for="idfechaInicioPend">Fecha Desde: </label>
                    <input class="form-control form-control-sm" type="date" id="idfechaInicioPend">
                </div>

                <div class="col-3 p-1">
                    <label for="idfechaFinPend">Fecha Hasta: </label>
                    <input class="form-control form-control-sm" type="date" id="idfechaFinPend">
                </div>
                <div class="col-4 p-1 form-group">
                    <div> &nbsp; &nbsp;</div>
                    <button id="btnBuscarPend" type="button" class="btn btn-primary btn-sm pt-2">Buscar</button>
                </div>
            </div>


            <div class="card m-2">
                <table class="table table-sm table-bordered table-hover display nowrap" id="tblPendientes">
                    <thead class="thead-light">
                        <tr>
                            <th class="ocultar-columna">idSolicitud</th>
                            <th>Fecha</th>
                            <th>Codigo</th>
                            <th>Glosa / Desc. Solicitud</th>
                            <th class="">Estado</th>
                            <th class="">Tipo</th>
                            <th>Nivel Aprobacion</th>
                            <th class="">Moneda</th>
                            <th>Valor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tblPendientesContent"></tbody>
                </table>
            </div>

        </div>



        <div class="tab-pane fade seccion-ap-rech" id="aprobadas-just" role="tabpanel" aria-labelledby="aprobadas-tab-just">

            <div class="container-fluid m-2">

                <div class="row m-2">
                    <div class="col-3 p-1">
                        <label for="idfechaIniHist">Fecha Desde: </label>
                        <input class="form-control form-control-sm" type="date" id="idfechaIniHist">
                    </div>

                    <div class="col-3 p-1">
                        <label for="idfechaFinHist">Fecha Hasta: </label>
                        <input class="form-control form-control-sm" type="date" id="idfechaFinHist">
                    </div>
                    <div class="col-4 p-1 form-group">
                        <div> &nbsp; &nbsp;</div>
                        <button id="btnBuscarHistorial" type="button" class="btn btn-primary btn-sm pt-2">Buscar</button>
                    </div>
                </div>


                <div class="card m-2">
                    <table class="table table-sm table-bordered table-hover display nowrap" id="tblHistorial">
                        <thead class="thead-light">
                            <tr>
                                <th class="ocultar-columna">idSolicitud</th>
                                <th>Fecha</th>
                                <th>Codigo</th>
                                <th>Glosa / Desc. Solicitud</th>
                                <th class="">Estado</th>
                                <th class="">Tipo</th>
                                <th>Nivel Aprobacion</th>
                                <th class="">Moneda</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="tblHistorialContent"></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <div class="modal fade" id="modalDetalleSol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle de Solicitud</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <div class="col">
                                <label for="idmdcodigo">Codigo:</label>
                                <span type="text" class="form-control form-control-sm" id="idmdcodigo"></span>
                            </div>
                            <div class="col">
                                <label for="idmdfecha">Fecha:</label>
                                <span type="text" class="form-control form-control-sm" id="idmdfecha"></span>
                            </div>
                            <div class="col">
                                <label for="idmdestado">Estado:</label>
                                <span type="text" class="form-control form-control-sm" id="idmdestado"></span>
                            </div>
                        </div>

                        <div class="row mt-2 mb-2">
                            <div class="col-8">
                                <label for="idmdobs">Observaciones:</label>
                                <span class="form-control form-control-sm" id="idmdobs"></span>
                            </div>
                            <div class="col-2">
                                <label for="idmdmoneda">Moneda:</label>
                                <span class="form-control form-control-sm" id="idmdmoneda"></span>
                            </div>
                            <div class="col-2">
                                <label for="idmdtotal">Total:</label>
                                <span class="form-control form-control-sm" id="idmdtotal"></span>
                            </div>
                        </div>

                        <div class="mt-1 mb-1">
                            <hr />
                        </div>

                        <table class="table table-sm table-bordered table-hover display nowrap" id="tblDetallePend" style="width: 100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>Cod. Solicitud</th>
                                    <th>Secuencia</th>
                                    <th>Fecha</th>
                                    <th class="all">Centro de Costo</th>
                                    <th class="all">Motivo</th>
                                    <th>Moneda</th> 
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody id="tblDetallePendContent"></tbody>
                        </table>

                    </form>

                </div>
                <div class="modal-footer">
                    <button id="btnCancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarDetalle" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>





</div>









<style>

    #solgasap label {
        font-family: 'Roboto', sans-serif;
    }


    #solgasap table .ocultar-columna {
        display: none;
    }

    #solgasap input {
        font-family: 'Roboto', sans-serif;
    }


    #solgasap #tblResultado th {
        font-family: 'Roboto', sans-serif !important;
    }

    #solgasap #tblResultado td {
        font-family: 'Roboto', sans-serif !important;
    }



    @@media (min-width: 320px) and (max-width: 479.98px) {
    }

    @@media (min-width: 480px) and (max-width: 767.98px) {
    }

    @@media (min-width: 768px) and (max-width: 991.98px) {
    }

    @@media (min-width: 992px) and (max-width: 1199.98px) {
    }

    @@media (min-width: 1200px) {
    }
</style>


@section scripts {
    <script>

        const NIVEL_INTERFAZ = 20;
        const USUARIO = "@Request.RequestContext.HttpContext.Session["usuario"]";
        const USUARIO_COMPLETO = "@Request.RequestContext.HttpContext.Session["usuario"]" + " - " + "@Request.RequestContext.HttpContext.Session["nombre"]";

        var vFechaIniPend = "";
        var vFechaFinPend = "";

        $(document).ready(function () {

            Inicializar();


            function Inicializar() {

            }

            function formatoNumero(x) {
                x = x.toFixed(2);
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function mensajePrincipal(estado, mensaje) {
                if (estado == true) {

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: mensaje
                    });

                }
                else if (estado == false) {

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'error',
                        title: mensaje
                    });

                }
            }



            $("#btnBuscarPend").click(function () {

                vFechaIniPend = $('#idfechaInicioPend').val();
                vFechaFinPend = $('#idfechaFinPend').val();

                if (vFechaIniPend == null ||
                    vFechaFinPend == null ||
                    typeof (vFechaIniPend) == "undefined" ||
                    typeof (vFechaFinPend) == "undefined" ||
                    vFechaIniPend.trim() == "" ||
                    vFechaFinPend.trim() == "") {

                    Swal.fire('Seleccione la fecha, por favor')
                }
                else {
                    var datos =
                    {
                        'fechaInicio': vFechaIniPend,
                        'fechaFin': vFechaFinPend,
                        'nivelInterfaz': NIVEL_INTERFAZ
                    }

                    getLista(datos);
                }

            });


            function getLista(datos) {

                $.ajax({
                    type: "GET",
                    url: '/finanzas/RG_PendientesAprobacion20',
                    contentType: "application/json; charset=utf-8",
                    data: datos,
                    dataType: "json",
                    success: function (data) {

                        let tabla = $("#tblPendientes").DataTable();

                        tabla.destroy();
                        var tr = "";

                        data.lista.forEach((obj) => {

                            tr += "<tr> "
                                + " <td class='ocultar-columna'>" + obj.idSolicitud + "</td>"
                                + " <td> " + obj.fecha + "</td>"
                                + " <td> " + obj.codigo + "</td>"
                                + " <td> " + obj.observacion + "</td>"
                                + " <td> " + obj.estado + "</td>"
                                + " <td> " + obj.tipo + "</td>"
                                + " <td> " + obj.nivelAprobacion + "</td>"
                                + " <td> " + obj.moneda + "</td>"
                                + " <td> " + formatoNumero(obj.total) + "</td>"

                                + " <td class='text-center'>"
                                + "     <button data-idsolicitud='" + obj.idSolicitud + "' data-toggle='collapse' data-target='#modalDetalleSol' class='btn btn-sm btn-primary' id='idIdSolicitudDet'> <i class='fas fa-eye'></i></button>"
                                + "     <button data-idsolicitud='" + obj.idSolicitud + "' data-toggle='collapse' class='btn btn-sm btn-success ml-1' id='btnAprobar'><i class='fas fa-check'></i></button>"
                                + "     <button data-idsolicitud='" + obj.idSolicitud + "' data-toggle='collapse' class='btn btn-sm btn-danger ml-1' id='btnRechazar'><i class='fas fa-ban'></i></button>"
                                + "</td>"

                                + "</tr>";
                        });

                        $("#tblPendientesContent").html(tr);


                        $("#tblPendientes").DataTable(
                            {
                                //dom: 'Bfrtip',
                                //buttons: [
                                //    'copy', 'excel', 'pdf', 'print'
                                //],
                                'language': { 'url': '/libs/datatables/spanish.json' },
                                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
                            });

                    },
                    failure: function () {
                        console.error('error al cargar los periodos');
                    }
                });

            }


            $("#tblPendientes").on('click', '#idIdSolicitudDet', function () {

                let idsolcitud = $(this).attr("data-idsolicitud");

                $.ajax({
                    type: "GET",
                    url: '/finanzas/RG_PendAprob20Det',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { idSolicitud: idsolcitud },
                    success: function (data) {

                        console.log(data);

                        if (data.isRedirect) {
                            window.location.href = data.redirectUrl;
                        }
                        else {

                            $("#idmdfecha").text(data.entidad.fecha);
                            $("#idmdcodigo").text(data.entidad.codigo);
                            $("#idmdobs").text(data.entidad.observacion);
                            $("#idmdestado").text(data.entidad.estado);
                            $("#idmdmoneda").text(data.entidad.moneda);
                            $("#idmdtotal").text(data.entidad.total);


                            let tabla = $("#tblDetallePend").DataTable();

                            tabla.destroy();
                            var tr = "";

                            data.entidad.listaDetalle.forEach((obj) => {

                                tr += "<tr> "
                                    + " <td> " + obj.codigo + "</td>"
                                    + " <td> " + obj.secuencia + "</td>"
                                    + " <td> " + obj.fecha + "</td>"
                                    + " <td> " + obj.ceco + "</td>"
                                    + " <td> " + obj.conceptoDet + "</td>"
                                    + " <td> " + obj.moneda + "</td>"
                                    + " <td> " + formatoNumero(obj.valor) + "</td>"
                                    + "</tr>";
                            });

                            $("#tblDetallePendContent").html(tr);

                            $("#tblDetallePend").DataTable(
                                {
                                    dom: 'Bfrtip',
                                    buttons: [
                                        'excel'
                                    ],
                                    'language': { 'url': '/libs/datatables/spanish.json' },
                                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
                                });


                            $('#modalDetalleSol').modal('show');
                        }
                    },
                    failure: function () {
                        console.error('error al cargar los periodos');

                        Swal.fire({
                            icon: 'error',
                            title: 'Error al mostrar datos',
                            text: 'Textile Sourcing Company',
                            showConfirmButton: false,
                            timer: 2500,
                        });

                    }
                });

            });


            $("#tblPendientes").on('click', '#btnAprobar', function () {
                let idsolicitud = $(this).attr("data-idsolicitud");
                AprobarRechazar20(idsolicitud, "¿Desea Aprobar la Solicitud?", 4);
            });

            $("#tblPendientes").on('click', '#btnRechazar', function () {
                let idsolicitud = $(this).attr("data-idsolicitud");
                AprobarRechazar20(idsolicitud, "¿Desea Rechazar la Solicitud?", 5);
            });



            function AprobarRechazar20(idsolicitud, pregunta, opcion) {

                Swal.fire({
                    title: pregunta,
                    text: "Textile Sourcing Company",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'

                }).then((result) => {

                    if (result.value) {

                        let parametro = {
                            'opcion': opcion,
                            'idSolicitud': idsolicitud,
                            'codigo': 0,
                            'idEmpresa': 0,
                            'idEstado': 0,
                            'idAnulado': 0,
                            'idTipoMod': 0,
                            'observacion': '',

                            'codCeCo': 0,
                            'codMotivo': 0,
                            'valor': 0,
                            'nota': '',
                            'secuencia': 0,
                            'usuario': USUARIO,
                            'usuarioCompleto': "",
                            'nivelInterfaz': NIVEL_INTERFAZ
                        }

                        $.ajax({
                            url: "/finanzas/RG_AprobRech20",
                            type: "post",
                            data: parametro,
                            dataType: "json",
                            success: function (resultado) {
                                console.log(resultado);

                                if (resultado.isRedirect) {
                                    window.location.href = resultado.redirectUrl;
                                }
                                else {
                                    if (resultado.status.idResponse > 0) {
                                        mensajePrincipal(true, "Actualizando Lista");
                                    }
                                    else {
                                        mensajePrincipal(false, "Ocurrio un problema");
                                    }

                                    var datos =
                                    {
                                        'fechaInicio': vFechaIniPend,
                                        'fechaFin': vFechaFinPend,
                                        'nivelInterfaz': NIVEL_INTERFAZ
                                    }

                                    getLista(datos);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {

                            }
                        });

                      
                    }
                })

            }


            $("#btnBuscarHistorial").click(function () {

                let fechaInicio = $('#idfechaIniHist').val();
                let fechaFin = $('#idfechaFinHist').val();


                if (fechaInicio == null ||
                    fechaFin == null ||
                    typeof (fechaInicio) == "undefined" ||
                    typeof (fechaFin) == "undefined" ||
                    fechaInicio.trim() == "" ||
                    fechaFin.trim() == "") {

                    Swal.fire('Seleccione la fecha, por favor')
                }
                else {
                    var datos =
                    {
                        'fechaInicio': fechaInicio,
                        'fechaFin': fechaFin,
                        'usuario' : USUARIO
                    }


                    $.ajax({
                        type: "GET",
                        url: '/finanzas/RG_Historial20',
                        contentType: "application/json; charset=utf-8",
                        data: datos,
                        dataType: "json",
                        success: function (data) {

                            let tabla = $("#tblHistorial").DataTable();

                            tabla.destroy();
                            var tr = "";

                            data.lista.forEach((obj) => {

                                tr += "<tr> "
                                    + " <td class='ocultar-columna'>" + obj.idSolicitud + "</td>"
                                    + " <td> " + obj.fecha + "</td>"
                                    + " <td> " + obj.codigo + "</td>"
                                    + " <td> " + obj.observacion + "</td>"
                                    + " <td> " + obj.estado + "</td>"
                                    + " <td> " + obj.tipo + "</td>"
                                    + " <td> " + obj.nivelAprobacion + "</td>"
                                    + " <td> " + obj.moneda + "</td>"
                                    + " <td> " + formatoNumero(obj.total) + "</td>"
                                    + "</tr>";
                            });

                            $("#tblHistorialContent").html(tr);


                            $("#tblHistorial").DataTable(
                                {
                                    dom: 'Bfrtip',
                                    buttons: [
                                        'excel', 'pdf', 'print'
                                    ],
                                    'language': { 'url': '/libs/datatables/spanish.json' },
                                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
                                });

                        },
                        failure: function () {
                            console.error('error al cargar los periodos');
                        }
                    });


                }

            });



        });



    </script>

}

