@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script>
        function subst() {
            var vars = {};
            var x = window.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            document.getElementById('page').innerHTML = vars.page;
            document.getElementById('topage').innerHTML = vars.topage;
        }
    </script>

    <style>
        td {
            font-size: 13px;
        }

        .table {
            border-collapse: collapse;
        }

            .table td {
                border: 1px solid black;
                font-size: 12px;
            }

        .w-80 {
            width: 80px;
        }
    </style>

</head>
<body style="border: 0;margin-top: 40px; padding-bottom: 30px;padding-top: 10px;" onload="subst()">

    @*<table style="width: 100%;">
            <tr>
                <td rowspan="3">
                    <img src="../../Public/logooriginal.png" class="float-left mt-10" style=" height: 50px; width: 90px;" />
                </td>
                <td colspan="4" align="center" style="font-weight:bold; font-size: 18px;">COMPROBANTES REGISTRADOS POR SOLICITUD </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="border-bottom:0px solid black;border-top:0px solid black">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="border-bottom:0px solid black;border-top:0px solid black">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" style="border-bottom:0px solid black;font-weight:bold"></td>
                <td align="right" style="border-bottom:0px solid black;font-weight:bold"> Página <span id='page'></span> de <span id='topage'></span> </td>
            </tr>
        </table>*@

    <table style="width: 100%;">
        <tr>
            <td rowspan="3" align="left">
                <img src="../../Public/logooriginal.png" class="float-left mt-10" style=" height: 50px; width: 90px;" />
            </td>
            <td align="center" style="font-weight:bold; font-size: 18px;"> LIQUIDACIÓN DE GASTOS </td>

            <td align="right" style="border-bottom:0px solid black;font-weight:bold"> Página <span id='page'></span> de <span id='topage'></span> </td>
        </tr>
        @*<tr>
                <td colspan="4" align="center" style="border-bottom:0px solid black;border-top:0px solid black">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="border-bottom:0px solid black;border-top:0px solid black">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" style="border-bottom:0px solid black;font-weight:bold"></td>
                <td align="right" style="border-bottom:0px solid black;font-weight:bold"> Página <span id='page'></span> de <span id='topage'></span> </td>
            </tr>*@
    </table>




    <hr class="w-100" style=" border-top: 1px solid black;width:100%;" />

</body>
</html>